@media (max-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1036px) and (min-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}