* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

/* header */
.header {
    position: fixed;
    top:0;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 10;
}

.left-part {
    display: flex;
    align-items: center;
}

.middle-part {
    display: flex;
    flex: 1;
    margin-left: 20%;
    max-width: 1000px;
    height: 55px;
    align-items: center;
    justify-content: center;
}

.right-part {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: end;
    align-items: center;
    margin-right:20px;
    width: 300px;
}

.hamb-menu {
    height:42%;
    margin-left:24px;
    margin-right:24px;
    cursor: pointer;
}

.youtube-logo {
    height: 36%;
    justify-content: center;
    cursor: pointer;
}

.search {
    flex: 1;
    height: 40px;
    max-width: 1000px;
    border: 1px solid rgb(206,206,206);
    border-radius: 3px;
    width: 0;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0,05);
}

.search::placeholder {
    font-family: Arial;
    font-size: 16px;
    padding: 20px;
}

.search-logo{
    border: 1px solid #ccc;
    background-color: rgb(247,247,247);
    padding: 7px 20px;
    height: 26px;
    margin-left: -1px;
    cursor: pointer;
}

.buttons-hover .tooltip {
    position: absolute;
    bottom: -40px;
    background-color: grey;
    color: white;
    padding: 7px 8px;
    font-size: 13px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.buttons-hover:hover .tooltip {
    opacity: 1;
}

.buttons-hover {
    display: flex;
    justify-content: center;
    position: relative;
}

.voice-search {
    height: 25px;
    background-color: rgb(247,247,247);
    border-radius: 50%;
    margin-left: 8px;
    padding: 8px;
    cursor: pointer;
}

.upload, .yt-apps, .notifications {
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.notif-container {
    display: flex;
    position: relative;
}

.notif-count {
    position: absolute;
    top: -2px;
    right: 6px;
    background-color: rgb(187, 24, 24);
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 50%;
}

.my-profile {
    height: 30px;
    width: 30px;
    object-fit: contain;
    border-radius: 50%;
    border:1px solid rgb(227,227,227);
    cursor: pointer;
}

/* sidebar */
.sidebar {
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    position: fixed;
    z-index: 10;
}

.side-link {
    height: 75px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side-link:hover {
    background-color: rgb(227, 227, 227);
}

.s-logo {
    height: 23px;
}

.s-name {
    font-size: 10px;
    margin-top: 7px;
}

/* video container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;   
    padding-left: 95px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: rgb(247,247,247);
}

.video-preview {
    width: 95%;
}

.thumbnail {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.thumbnail-row {
    position: relative;
}

.vid-time {
    position: absolute;
    background-color: black;
    opacity: 0.9;
    color: white;
    padding: 5px;
    font-size: 12px;
    right: 6px;
    bottom: 20px;
    border-radius: 2px;
}

.not-thumbnail {
    width:300px;
    display: flex;
    gap: 15px;
}

.pic {
    width: 38px;
    border-radius: 50%;
    cursor: pointer;
}

.video-title {
    font-weight: bold;
    font-size: 14px;
    color: rgb(0,0,0);
    line-height: 20px;
    cursor: pointer;
}

.video-user {
    margin-top: 8px;
    font-size: 12px;
    color: rgb(96,96,96);
    cursor: pointer;
}

.video-info {
    margin-top: 3px;
    font-size: 12px;
    color: rgb(96,96,96);
    cursor: pointer;
}